.Portfolio-row {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.Portfolio-h1 {
  font-size: 6rem;
  margin-bottom: 3rem;
}

.Portfolio-link {
  font-size: 1.3rem;
}

.Portfolio-button {
  background-color: black;
  font-weight: 600;
}

.Portfolio-button:hover {
  background-color: #1673c9;
  border-color: #1673c9;
}

/* ===== MEDIA QUERIES ===== */
@media screen and (max-width: 455px) {
  .Portfolio-h1 {
    font-size: 3.5rem;
  }
}