.Portfolio-row {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.Portfolio-h1 {
  font-size: 6rem;
  margin-bottom: 3rem;
}

.Portfolio-link {
  font-size: 1.3rem;
}

.PortfolioPage-HeroImage-img {
  /* Photo by Kristijan Arsov on Unsplash */
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("https://images.unsplash.com/photo-1583353342061-d43e3a8ee05a?ixlib=rb-1.2.1&auto=format&fit=crop&w=3450&q=80");
  height: 62rem;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.Portfolio-button {
  background-color: black;
  font-weight: 600;
}

.Portfolio-button:hover {
  background-color: #1673c9;
  border-color: #1673c9;
}