.About-header {
  font-size: 6rem;
  margin: 3rem;
  padding-top: 4rem;
}

.About-learn {
  display: flex;
  justify-content: center;
}

.About-skills {
  font-size: 4.5rem;
  margin-top: 2rem;
  font-weight: 600;
}

.About-text-row {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.About-text-row p {
  text-align: left;
  width: 25rem;
  padding: 2rem;
}

.About-icons-row {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.About-icon {
  font-size: 5rem;
}

.About-icon-div {
  width: 7rem;
  height: 8rem;
  margin: 1rem;
}

.About-icon-div-image {
    margin: 0 auto;
    height: 80px;
    width: inherit;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.dark-icon {
  filter: brightness(0%);
}

.postman {
  filter: saturate(0%);
}

.About-icon-div img {
  max-width: 100px;
  max-height: 80px;
  vertical-align: middle;
}

.About-learn-resume{
  background-color: black;
  font-weight: 600;
}

.About-learn-resume:hover {
  background-color: #1673c9;
  border-color: #1673c9;
}

.About-img {
  height: 22rem;
  
}

/* ===== MEDIA QUERIES =====  */
@media screen and (max-width: 1199px) {
  .About-text-row p, .About-text-extra {
    width: 100%;
    padding: 1rem 8rem;
    text-align: center;
  }
}

@media screen and (max-width: 845px) {
  .About-img {
    margin-bottom: 1rem;
  }

  .About-text-row p {
    width: 100%;
    padding: 1rem 3rem;
    text-align: center;
  }

  .About-text-extra {
    width: 100%;
    padding: 1rem 3rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 455px) {
  .About-header {
    font-size: 3.5rem;
  }

  .About-img {
    height: 20rem;
    margin-bottom: 2rem;
  }

  .About-text-row p {
    margin-top: 1rem;
    padding: 1rem;
  }

  .About-skills {
    font-size: 3.5rem;
    margin-bottom: 3rem;
  }
}
