.Contact-container {
  margin-bottom: 3rem;
}

.Contact-header {
  font-size: 6rem;
  margin-bottom: 3rem;
}

.Contact-row-icons {
  display: flex;
  justify-content: center;
}

.Contact-button {
  background-color: black;
  margin: 3rem;
  font-weight: 600;
}

.Contact-button:hover {
  background-color: #1673c9;
  border-color: #1673c9;
}

/* ===== FontAwesome Icons ===== */
.icon {
  font-size: 2.5rem;
  margin: 1rem;
  color: black;
}

.icon:hover {
  color: #1673c9;
}

.fa-envelope {
  margin-right: 0.5rem;
}

/* ===== MEDIA QUERIES ===== */
@media screen and (max-width: 455px) {
  .Contact-header {
    font-size: 3.5rem;
    /* color: blue; */
  }
}