.TextCard {
  border: none;
  /* border: 3px solid black; */
}

.TextCard-image {
  opacity: 0;
  height: 15rem;
}

.TextCard-text {
  color: black;
  width: 29rem;
  text-align: left;
}

.TextCard-text-div {
  height: 10rem;
}

/* ===== MEDIA QUERIES ===== */
@media screen and (max-width: 845px) {
  /* .TextCard {
    width: 1000px;
  } */

  .TextCard-text {
    text-align: center;
    /* border: 3px solid black; */
  }
}

@media screen and (max-width: 455px) {

  .TextCard-text {
    /* border: 1px solid black; */
    /* text-align: center; */
    /* margin: 0 auto; */
  }
}

